:root {
  --primary-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --default-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
  --default-font-color: #272142;
}

body {
  font-family: var(--default-font);
  color: var(--default-font-color);
  background-color: #f9f7fe;
}

h1 {
  font-family: var(--heading-font);
  font-size: 96px;
  font-weight: 700;
  line-height: 128px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

img {
  border-radius: 14px;
}

.logo {
  display: none;
}
.logo-small {
  display: block;
  max-width: 60px;
}

nav li {
  font-size: 14px;
  font-weight: 500;
}
nav {
  padding: 20px 0px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  font-weight: 600;
}

nav a {
  color: var(--default-font-color);
  margin-left: 15px;
  transition: all 150ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--secondary-color);
  text-decoration: none;
}

.home-body {
  text-align: center;
}

footer {
  margin: 50px;
}

.footer-email {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: var(--default-font-color);
}

.footer-email:hover {
  text-decoration: none;
  color: var(--secondary-color);
}
footer {
  text-align: center;
}

footer ul {
  padding: 0;
  margin: 10px;
}

footer li {
  list-style: none;
  display: inline;
}

footer li a {
  margin: 10px;
}

.coded-link {
  opacity: 0.7;
  font-size: 10px;
  color: var(--secondary-color);
}

.coded-link:hover {
  text-decoration: none;
  color: var(--default-font-color);
}

.list_of_services {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  padding: 0;
}

.service_offered {
  list-style: none;
  flex: 1;
  margin: 0 10px;
}

.homepage_img {
  width: 50%;
}
